In [1]:
#Import dataset into python
import numpy as np
data = np.genfromtxt('classdata.csv', dtype=None ,delimiter=',', names=True)
data

array([(1, 3.5, 2.5, 45000, 3.5, 3.5, b'N', 250, 90000),
       (3, 3.8, 1.0, 65000, 3.6, 3.0, b'Y', 400, 100000),
       (4, 3.8, 2.0, 85000, 4.0, 3.6, b'Y', 500, 90000),
       (5, 3.41, 1.5, 10000, 3.41, 3.33, b'N', 365, 100000),
       (6, 3.33, 5.0, 70000, 3.67, 3.0, b'Y', 400, 100000),
       (7, 3.52, 2.5, 27000, 3.58, 3.52, b'N', 230, 85000),
       (8, 3.5, 2.0, 40000, 3.7, 3.3, b'N', 250, 90000),
       (9, 3.5, 5.0, 75000, 3.53, 3.3, b'Y', 260, 100000),
       (10, 3.6, 2.5, 65000, 3.9, 3.1, b'Y', 250, 110000),
       (11, 3.2, 4.0, 62000, 3.8, 3.0, b'N', 525, 105000),
       (12, 3.5, 2.0, 60000, 3.5, 3.5, b'N', 400, 85000),
       (13, 3.67, 1.8, 60000, 4.0, 3.0, b'N', 920, 140000),
       (14, 3.5, 2.0, 60000, 3.7, 3.3, b'y', 300, 90000),
       (15, 3.47, 2.5, 70000, 3.64, 3.37, b'Y', 310, 95000),
       (16, 3.06, 1.3, 40000, 3.64, 2.67, b'Y', 550, 120000),
       (17, 3.27, 2.0, 60000, 4.0, 3.0, b'Y', 350, 100000),
       (18, 3.53, 4.0, 50000, 4.0, 3.3, b'N', 600, 88000),
       (19, 4.0, 4.0, 50000, 4.0, 4.0, b'Y', 500, 130000),
       (20, 3.4, 1.0, 30000, 3.6, 3.1, b'N', 500, 80000),
       (21, 3.54, 1.0, 40000, 4.0, 3.42, b'Y', 650, 95000),
       (22, 3.5, 2.0, 75000, 4.0, 3.0, b'Y', 515, 80000),
       (23, 3.5, 4.0, 50000, 3.8, 3.2, b'Y', 350, 110000),
       (24, 3.4, 3.0, 50000, 3.8, 3.2, b'Y', 301, 90000),
       (26, 3.3, 4.0, 65000, 4.0, 3.65, b'Y', 700, 100000),
       (27, 3.9, 6.0, 90000, 4.0, 3.8, b'Y', 809, 120000),
       (28, 3.17, 1.0, 50000, 3.3, 3.0, b'N', 258, 100000),
       (29, 3.48, 3.5, 60000, 4.0, 3.33, b'Y', 350, 100000),
       (30, 3.93, 4.0, 43000, 4.0, 3.28, b'Y', 900, 100000),
       (31, 3.43, 4.0, 60000, 3.5, 3.3, b'Y', 220, 110000),
       (32, 3.33, 5.0, 5000, 3.66, 3.0, b'Y', 183, 100000),
       (33, 3.6, 1.5, 60000, 3.7, 3.4, b'Y', 340, 100000),
       (34, 3.8, 3.0, 65000, 3.8, 3.5, b'Y', 800, 80000),
       (35, 3.5, 3.0, 65000, 4.0, 3.6, b'Y', 400, 80000),
       (36, 3.39, 2.0, 60000, 3.8, 3.2, b'Y', 500, 90000)],
      dtype=[('No', '<i4'), ('GPA', '<f8'), ('Years_of_work_experience', '<f8'), ('Latest_salary_per_year', '<i4'), ('Highest_GPA', '<f8'), ('Lowest_GPA', '<f8'), ('CoopsInternships_YN', 'S1'), ('Number_of_contacts_on_Linkedin', '<i4'), ('Expected_Salary_after_graduation', '<i4')])

In [ ]:
#Q1 (a) Min, Max, Average and Median of class GPA

import numpy as np
avggpa= np.average(data['GPA'])
mediangpa= np.median(data['GPA'])
mingpa = np.min(data['GPA'])
maxgpa = np.max(data['GPA'])

print('Average GPA =', avggpa)
print('Median GPA =', mediangpa)
print('Min GPA =', mingpa)
print('Max GPA =', maxgpa)

#Q1 (b) Min, Max, Average and Median of Work Experience

avgworkex= np.average(data['Years_of_work_experience']) 
medianworkex= np.median(data['Years_of_work_experience'])
minworkex = np.min(data['Years_of_work_experience'])
maxworkex = np.max(data['Years_of_work_experience'])

print('Average Work Experience =', avgworkex)
print('Median Work Experience =', medianworkex)
print('Min Work Experience =', minworkex)
print('Max Work Experience =', maxworkex)

In [ ]:
#Q2. Mode of Salary
from scipy import stats
m = stats.mode(data['Latest_salary_per_year'])
print("Mode of Salary:", m.mode)
print("Number of Occurances:",m.count)

In [ ]:

#Q3. %age of Students having a co-op
upperString=[x.upper() for x in data['CoopsInternships_YN']]
total = len(upperString)

x =collections.Counter(upperString)
for k,v in x.items():
    if(k == "N"):
        print("Pct students without co_op = ", round((v/total)*100,2))
    else:
          print("Pct students with co_op = ", round((v/total)*100,2))

In [ ]:
#Q4. Number of people with more than 500 LinkedIn contacts

import numpy as np
count = 0
linkedIn =data['Number_of_contacts_on_Linkedin'] 
for number in linkedIn:
    if(number > 500):
        count  = count + 1
print ("Number of people with more than 500 students =", count)

In [ ]:
#Q5. Interquartile range for Expected Salary
q75, q25 = np.percentile(data['Expected_Salary_after_graduation'], [75 ,25])
iqr = q75 - q25
print("Interquartile range for Expected Salary",iqr)